.all {
    .container {
        margin-top: 100px;
    }

    &_list {
        width: 255px;
        height: 356px;
        padding-top: 1px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    &_item {
        display: flex;
        margin: 20px 0px;
    }

    &_h4 {
        color: #83888F;
        font-family: "Fraunces";
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin: 0;
        padding: 0;

        &:hover {
            color: #333D4B;
            cursor: pointer;
        }
    }

    &_h5 {
        color: #333D4B;
        font-family: "Fraunces";
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin: 0;
        padding: 0;
        margin-left: 20px;

        &:hover {
            color: #83888F;
            cursor: pointer;
        }
    }
}

.alls {
    width: 1320px;
    display: flex;
    justify-content: space-between;
}


.two {
    width: 730px;
    margin-top: -60px;

    &_h6 {
        color: #83888F;
        font-family: "Fraunces";
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
    }

    &_list {
        width: 730px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-left: -10px;

        :hover {
            background-color: #FDD6BA;
        }
    }


    &_heading {
        color: #333D4B;
        font-family: "Fraunces";
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        padding-top: 30px;
    }

    &_text {
        color: #333D4B;
        font-family: "Barlow";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding: 0;
        margin: 0;
        padding-left: 20px;
        padding-top: 20px;
    }



    &_item {
        width: 228px;
        height: 250px;
        border-radius: 8px;
        background-color: #F4F1EB;
    }
}

.div {
    background-color: #333D4B;
    padding: 10px 40px;
    border-radius: 10px;
    padding-bottom: 0;
    padding-bottom:  1px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.p {
    color: #83888F  ;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.p-p {
    color:  grey;
    font-family: "Fraunces";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}
.footer {
    height: 120px;
    background-color: #2C343E;
}

.foot_a{
    margin-top: 50px;
}

.footer .container {
    display: flex;
}
.foot_list {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 55px;  
}
.foot_item:nth-child(2){
    margin: 0px 50px;
}

.foot_text {
    font-family: "Barlow";
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    text-align: left;
    color: #83888F;
}

.foot_text:hover{
    color: #FEFCF7;
}

.foot_ul{
    display: flex;
    margin-left: 200px;
    margin-top: 55px;
}
.foot_li{
    margin: 0px 10px;
}
.foot_svg:hover{
    background-color:  #FDD6BA;
    cursor: pointer;
}