.koko {
    .container {
        background-color: #2C343E;
        width: 1280px;
        height: 653px;
        flex-shrink: 0;
        border-radius: 10px;
        margin-top: 150px;
    }
}

.span {
    width: 740px;
    height: 2px;
    background-color: #FDD6BA;
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
}

.koko_o {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid #0E8784;
    display: inline-block;
    transform: translate(-15px, -15px);
}

.koko_o:nth-child(2) {
    margin-left: 320px;
}

.koko_o:nth-child(3) {
    transform: translate(335px, -14px);
}

.nav {
    &_item {
        margin: 40px;
    }

    &_h2 {
        color: #FDD6BA;
        font-family: "Fraunces";
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
        margin: 0;
        padding: 0;
        margin-bottom: 38px;
    }

    &_h3 {
        color: #FEFCF7;
        font-family: "Fraunces";
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        margin: 0;
        padding: 0;
        margin-bottom: 42px;
    }

    &_text {
        color: #FEFCF7;
        font-family: "Barlow";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }
}